*.awk linguist-detectable
some.awk linguist-language=Sed
test/** -linguist-detectable
*.* linguist-detectable
.gitattributes linguist-detectable
README.md linguist-detectable
*.md linguist-language=Markdown
